@import '_variables';

//=========================================
//      VARIABLES
//=========================================

    $trans_dur: .1s;

    // $modal_height: 500px;
    $modal_height: 90vh;


    $cross_color: white;
    $cross_bkg_color: #5ba2e2; 
    // $cross_bkg_color: #054877;

    $cross_thickness: 15%;
    $cross_size: 1em;
    $cross_beam_pos: -5%;
    $cross_pos: -0.7em;
    $cross_size2: 50%;

    $arrow_size: .5em;
    $arrow_thickness: 0.2em;
    $arrow_color: #5ba2e2;


    $darker: #054877;
    $lighter: #5ba2e2;

//=========================================
//      MIXINS
//=========================================

    



//=========================================


body, html {
    // margin: 0;
}

body {
    &.modal-open {
        overflow: hidden;
    }
}



.photograph {
    img {
        #deb &, #shane &, #alberto &, #lance &, #justin & {
            transform: translateY(-3px);
            // @include transform( translateY(-3px) );
        }
        #marc & {
            transform: translateY(4px);
            // @include transform(translateY(4px));
        }

    }
}

.modal {
    img {
        #marc & {
            height: 17rem;
            left: -1rem;
        }
        #deb &, #shane &, #alberto &, #lance &, #justin & {
            height: 14rem;
            left: 0rem;
        }

        #patrick & {
            height: 16rem;
            left: 0rem;
        }

        #elizabeth & {
            height: 16rem;
            left: 0rem;
        }
    }
    
}

// #marc {
//     .modal {
//         img {
//             // transform: translateY(4px);
//             // @include transform(translateY(4px));
//             height: 17rem;
//             left: -1rem;
//         }
//     }
// }

#al {
    img {
        transform: translateY(-11px) scale(0.87);
    }
    
}

@media screen and (min-width: 300px) {

    .leadership-container {
        // border: 1px solid red;

        // anti-Bootstrap       
        color: #000;        

        // for the jerk (IE) which doesn't understand 'inherit' like the rest       
        // https://stackoverflow.com/questions/16019193/ie-doesnt-accept-font-as-initial-using-important        

        line-height: inherit;       
        font-size: medium;      

        // for the normal       

        font-size: initial;     
        line-height: initial;       

        // font-size: normal;       
        // line-height: normal;     
        // line-height: inherit;

        // margin-bottom: 1em;


    }

    .main-container {
        align-items:  stretch;
        // @include display_flex();
        display: flex;
        // @include flex_direction( column );
        flex-direction: column;
        // @include flex( 1, 1, auto );
        flex: 1 1 auto;

        flex-wrap: wrap;
        // @include flex_wrap(wrap);
        justify-content: center;
        // @include justify_content( center );

        width: 100%;

        // background-color: #fff;
        margin-top: 1em;
        padding-bottom: 1em;
        @include box_with_inset_borders();
    }

    .team-header {
        color: #999;
        // @include display_flex();
        display: flex;
        // font-family: 'PT Sans', sans-serif;
        font-size: 1.3em;
        font-variant: small-caps;
        font-weight: bold;
        justify-content: center;
        // @include justify_content( center );
        padding: 1em;
    }

    .team-container { 
        // @include display_flex();
        display: flex; 
        // @include flex_direction( row ); 
        flex-direction: row;
        justify-content: center; 
        // @include justify_content( center ); 
        flex-wrap: wrap; 

        // @include flex_wrap( wrap ); 
        // @include flex( 1 ); 

        max-width: 100%; // for Safari 
    } 


    .teammember {

        // margin: 0 .5em; 
        margin: 0 0.2em; 
        padding: 0 0.5em .5em 0.5em; 
        cursor: pointer;

        width: 11em;

        min-width: 11em; // for Safari
        // @include flex_wrap( wrap ); // for Safari
        flex-wrap: wrap;
        // height: 19em;
        display: flex;
        // @include display_flex();
        flex-direction: column;
        // @include flex_direction( column );
        align-items: center;
        // @include align_items( center );
        // transition: all $trans_dur ease-in-out;
        @include transition( all, .3s, ease-in-out);


        &:hover {
            background-color: #e9f3fb;
        }

        // $childminwidth: 11em; 
        // min-width: $childminwidth; 
        // -webkit-flex: 1 1 $childminwidth; 
        // @include flex( 1 ); 


        .photograph {
            // width: 100%;
            // height: 100%;
            // background-color: #000;
            border-radius: 50%;
            // margin: 0;
            // padding: 0;

            $size: 10em;

            width: $size;
            height: $size;
            position: relative;
            overflow: hidden;

            display: flex;
            justify-content: center;
            // @include border_radius( 50% );

            // -webkit-mask-image: -webkit-radial-gradient(circle, white, black); // for Safari
            // -webkit-transform: translateZ(0);


            margin: 1em 0;

            cursor: pointer;

            // transition: all $trans_dur ease-in-out;

            @include transition( all, .3s, ease-in-out);
            // transition: border-radius 0s;

            &:hover {
                // transform: scale(1.05);
                // -webkit-border-radius: 0%;
                // -moz-border-radius: 0%;
                // -ms-border-radius: 0%;
                // -o-border-radius: 0%;
                // border-radius: 0%;
            }

            
            .arrowsign {
                // @include box_sizing( content-box );
                box-sizing: content-box;
                position: absolute;
                background-color: white;
                right: 38px;
                bottom: .5em;
                z-index: 1;
                // @include border_radius( 50% );
                border-radius: 50%;
                border: 1px solid #5ba2e2;
                padding: .6em;
                opacity: 1;
                // transition: all $trans_dur ease-in-out;
                @include transition( all, .3s, ease-in-out);
                width: 1em;
                height: 1em;

                &:after {
                    // @include box_sizing( content-box );
                    box-sizing: content-box;
                    content: '';
                    display: inline-block;
                    // margin-top: 1.05em;
                    // margin-left: -0.6em;
                    width: $arrow_size;
                    height: $arrow_size;
                    border-top: $arrow_thickness solid $arrow_color;
                    border-right: $arrow_thickness solid $arrow_color;

                    // @include transform(rotate(45deg));
                    transform: rotate(45deg);
                    transform-origin: 87% 50%;
                }
            }



            img {
                // width: 100%;
                // height: 100%;
                // margin: 0;
                // padding: 0;
                // display: block;
                // border-radius: 50%;

                display: inline;
                // margin: 0 auto;
                height: 100%;
                width: auto;

                height: 11em;
                transform: translateY(20px) scale(1.2);

                // transition: all $trans_dur ease-in-out;
                @include transition( all, .3s, ease-in-out);
            }
        }

        .caption {
            // background: white;
            width: 95%; // for IE

            .fullname {
                // font-family: Verdana, Trebuchet sans-serif;
                // font-family: Tahoma, Verdana, arial, sans-serif;
                // font-family: 'PT Sans', sans-serif;

                // font-family: 'PT Sans Caption', sans-serif;

                font-weight: bold;
                // font-size: 1em;
                font-size: 1em;
            }
            .jobtitle {
                // font-family: Verdana, Trebuchet sans-serif;


                // font-family: 'PT Sans', sans-serif;
                // font-family: 'PT Sans', sans-serif;
                // font-weight: bold;
                font-size: .8em;
                color: #808080;
            }
        }

        .modal {

            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(15, 98, 168, 0.4); /* Black w/ opacity */
            display: none; /* Hidden by default */
            height: 100%; /* Full height */
            left: 0;
            margin-left: 0; // anti-Bootstrap
            overflow: auto; /* Enable scroll if needed */
            // padding-top: 100px; 
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: fixed; /* Stay in place */
            top: 0;
            width: 100%; /* Full width */
            // z-index: 1; /* Sit on top */
            // z-index: 30;
            z-index: 100;

            &.active {
                display: flex;
            }

            // 1
            .modal-content {
                background-color: #fefefe;
                // margin: auto;
                // padding: 20px;
                // border: 1px solid #888;
                // width: 80%;
                max-width: 900px;
                width: 89%;

                // height: $modal_height;

                // height: calc(100vh - 200px);
                // overflow-y: auto;

                position: relative;
            }

            // 2
            // The Close Button
            .closemodal {       
                // color: $cross_bkg_color;     
                float: right;       
                // font-size: 28px;     
                font-weight: bold;      

                width: 1.5em;   
                height: 1.5em;      
                // @include border_radius( 50% );      
                border-radius: 50%;
                background-color: $cross_bkg_color;    
                box-shadow: 1px 0px 2px #333;
            }

            //=================
            // VERSION 2        
                
            $closer_pos: -15px;
            $closer_diameter: 36px;
            $cross_center: 16px;
            $cross_x: 5px;

            .closemodal {
                position: absolute;
                right: $closer_pos;
                top: $closer_pos;
                width: $closer_diameter;
                height: $closer_diameter;
                // opacity: 0.3;
                z-index: 1;
            }
            .closemodal:hover {
                // opacity: 1;
            }
            .closemodal {
                &:before, &:after {
                    position: absolute;
                    left: $cross_center;
                    top: $cross_center / 2;
                    content: ' ';
                    height: $cross_x * 4;
                    
                    width: $cross_x;
                    background-color: #fff;
                }
            }
            .closemodal{
                &:before {
                    // transform: rotate(45deg);
                    transform: rotate( 45deg );
                }
                &:after {
                    // transform: rotate(45deg);
                    transform: rotate( -45deg );
                }
            }
            // .closemodal:after {
            // // transform: rotate(-45deg);
            // @include transform_rotate( 45deg );
            // }
            ///

            .closemodal:hover,
            .closemodal:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

            // 3
            .modalwrapper {
                // border: 1px dashed gray;
                // @include display_flex();
                display: flex;
                flex-direction: row;
                // @include flex_direction( row );
                height: $modal_height;
                position: relative;


            }

            // 4
            .pic {
            
                

                $pic_size: 120px;

                position: absolute;
                top: 20px;
                // right: 3em;
                left: 10px;

                border-radius: 50%;
                // @include border_radius( 50% );
                overflow: hidden;
                width: $pic_size;
                height: $pic_size;
                background-image: none;

                // 5
                img {
                    max-width: 180px;
                    padding-top: 20%;

                    // max-width: none;
                    // padding-top: 0;
                    // display: inline;
                    height: 12em;
                    margin: 0 auto;
                    padding-top: 0px;
                    position: absolute;
                    right: -13px;
                    top: 0px;
                    width: auto;
                }
            }


            // 6
            .desc {
                padding: 2rem;
                // padding: 0 5rem 2rem;
                // @include flex(auto);
                flex: auto;
                // height: 93%;
                // height: 100%;
                width: 100%;
                // border: 1px solid red;
            }

            // 7
            .desc-wrapper {
                // border: 1px dashed green;
                // border: 1px solid green;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // height: $modal_height;
                height: 100%;
                // padding: .5em 3em;
                // padding: .5em 0em 3em 3em;
                // padding: .5em 0em 0em 3em;
            }

            // 8
            .modal-name-wrapper {

                
                    // @include display_flex();
                    // @include flex_direction( column );
                // @include justify_content( center );
                // height: 15%;
                // border: 1px solid magenta;
                display: flex;
                flex-direction: column;

                // height: 27%;
                // height: 12rem;
                height: 14rem;

                justify-content: center;
                margin-bottom: 20px;

                // margin-left: 8em;
                margin-left: 7em;

                // margin-left: 9em;
            }

            // 9
            .modal-member-name {
                // font-family: 'PT Sans Caption', sans-serif;
                // font-size: 2em;
                font-weight: bold;
                // line-height: 1.4em;
                // font-size: 1.2em;

                // @include font_size_and_line_height( 2rem );
                font-size: 2rem;
                line-height: 2.5rem;
                margin-bottom: 1rem;

            }

            // 10
            .modal-member-title {
                // font-size: 1.1em;
                color: #666;
                // font-size: 1em;
                // font-size: 0.8em;
                // @include font_size_and_line_height( 1.2rem );
                font-size: 1.4rem;
                line-height: 1.8rem;
            }



            // 11

            .modal-bio-wrapper {

                // border: 1px dashed indigo;

                // $fontsize: 1.8rem;

                overflow-y: auto;
                -webkit-overflow-scrolling: touch;

                // height: 60vh;
                // height: percentage(6.9/12);
                height: 68%;
                // padding-right: 3em;
                // @include flex( auto );

                // padding-right: 1.3em;


                p {
                    margin-top: 0;
                    // font: $fontsize Verdana, Tahoma, arial, sans-serif;
                    // line-height: $fontsize * 1.3;
                    @include font_size_and_line_height( 1.7rem);
                    color: #666;
                    // font-family: 'PT Sans Caption', sans-serif;

                    br {
                        line-height: 5rem;
                    }

                    a { 
                        overflow-wrap: break-word;
                        word-break: break-word;

                        color: #94be6f; 
                        &:hover { 
                            color: #659a44; 
                            text-decoration: none; 
                        } 
                    }
                }
            }

        }
        

    }

}


@media screen and (min-height: 568px) {
    .teammember {
        .modal {
            .modal-bio-wrapper {
                height: 68%;
            }
        }
    }
}

@media screen and (min-width: 600px) { 

    $modal_height: 500px;
    .teammember {

        .photograph {
            .arrowsign {

            }
            img {

            }
        }
        
        .caption {
            .fullname {}
            .jobtitle {}
        }

        .modal {
            // 1
            .modal-content {
                width: 90%;

            }
            // 3
            .modalwrapper {
                height: $modal_height;
                position: static;
            }
            // 4
            .pic {
                position: static;
                // @include background_gradient( bottom,  #0f62a8, #5ba2e2 );
                background: linear-gradient(to bottom,  $lighter, $darker );
                border-radius: initial;
                
                // max-width: 180px;
                // padding-top: 20%;
                width: auto;
                height: auto;
                img {
                    position: static;
                    max-width: 180px;
                    padding-top: 20%;
                    height: auto !important;
                }
            }

            // 6
            .desc {
                // width: 100%;
                width: 50%;
                padding: 2rem 5%;
            }

            
            // 8
            .modal-name-wrapper {
                height: 20%;
                margin: 0;
            }

            // 9
            .modal-member-name {
                // font-size: 1.8em;
                @include font_size_and_line_height(2.5rem);
                margin-bottom: 0;

            }
            // 10
            .modal-member-title {
                // @include font_size_and_line_height(1.8rem);
                font-size: 1.1em;
                line-height: 2.2rem;
            }
            // 11
            .modal-bio-wrapper {        
                height: percentage(9/12);
                p {
                    // margin-top: 2rem;
                }
            }
        }
    }
}

@media screen and (min-height: 640px) {
    .teammember {
        .modal {
            .modal-bio-wrapper {
                height: 75%;
            }
        }
    }
}

@media screen and (min-height: 812px) {
    .teammember {
        .modal {
            .modal-bio-wrapper {
                height: 79%;
            }
        }
    }
}